.box {
    border: 5px solid black;
    border-radius: 10px;
    background-image: url("balloons.jpg");
    background-size: contain;
}

h2 {
    background-color: rgb(0 0 0 / 50%);
    color: white;
}
